:root {
    --bg1_radius: 27px; /* 25px -> 64px */
    --bg2_traingle_size: 11px; /* 11px ->  60px */
}

body {
    font-family: 'Coda', sans-serif;
    box-sizing: border-box;
    margin:0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas:
    ". . . ."
    ". . . time"
    "main main main main"
    "stream stream stream logo"
    "gutter gutter gutter gutter";
    grid-template-rows: 30px 30px 1fr 70px 40px;
    grid-template-columns: 1fr 1fr 1fr 250px;
}

.gutter {
    position:relative;
    grid-area: gutter;
}

.logo {
    grid-area: logo;
    box-sizing: border-box;
    align-self: center;
    justify-self: center;
}

.logo img {
    height: 104.38px;
    margin-right: 16px;
}

.main {
    width:100%;
    height:100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: grid;
    grid-template-areas:
    ". . . . ."
    ". pundit1 v pundit2 ."
    ". . . . .";
    grid-template-columns: 16px 8fr 1fr 8fr 16px;
    grid-template-rows: 5px 1fr 64px;
    grid-area: main;
}

.volume {
    position: relative;
    grid-area: v;
    width: 20px;
    height: 150px;
    align-self:end;
    justify-items: center;
    box-sizing: border-box;
    margin-left: 50%;
}

#volume_slider {
    position: absolute;
    width: 150px;
    height: 20px;
    margin-bottom: 200px;
    left: -10px;
    bottom: 0px;
    transform-origin: 75px 75px;
    transform: rotate(-90deg);
}

.volume button {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 0px;
    left:-25px;
    cursor: pointer;
    color: white;
    border: none;
    background-color: blue;
    border-radius: 2px;
    box-shadow: 2px 10px 45px -4px rgba(0,0,0,0.75);
}

.volume button i {
    font-size: 32px;
}

.woman {
    position:absolute;
    margin-left: auto;
    margin-right: auto;
    bottom: -10px;
    width: 600px;
    height: 400px;
    background: url('../img/pundit1.png') left top;
}

.man {
    position:absolute;
    margin-left: auto;
    margin-right: auto;
    bottom:-10px;
    width: 600px;
    height: 400px;
    background: url('../img/pundit2.png') left top;
}

.animate_blink {
    animation: blink 3.5s steps(6) infinite;
}

.animate_talk {
    animation: talk 2s steps(6) infinite;
}

@keyframes blink {
    0% {
        background-position: left 0px;
    }
    100% {
        background-position: -3600px 0px;
    }
}

@keyframes talk {
    0% {
        background-position: left bottom;
    }
    100% {
        background-position: -3600px bottom;
    }
}

.pundit1 {
    position:relative;
    align-items: end;
    box-sizing: border-box;;
    grid-area: pundit1;
    border: 4px white solid;
    overflow:hidden;
    box-shadow: 2px 10px 45px -4px rgba(0,0,0,0.75);
}

.pundit2 {
    position:relative;
    box-sizing: border-box;
    border: 4px white solid;
    grid-area: pundit2;
    overflow: hidden;
    box-shadow: 2px 10px 45px -4px rgba(0,0,0,0.75);
}

.bg_newsroom {
    background-image: linear-gradient(45deg, white 25%, blue 25%), linear-gradient(-45deg, white 25%, blue 25%), linear-gradient(45deg, blue 75%, white 75%), linear-gradient(-45deg, blue 75%, white 75%);
    background-size: 20px 20px;
    animation: scrolling 20s linear infinite;
}

@keyframes scrolling {
    0% {background-position: 0px 0px;}
    100% {background-position: -100px -100px;}
}

.time {
    padding-right: 16px;
    margin-right: 16px;
    grid-area: time;
    background-color: #333333;
    color: white;
    font-size: 0.8rem;
    align-self:center;
    text-align: end;
    border-radius: 2px;
}

.marquee {
    background: #d6e5f2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #eef2f3, #d6e5f2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #eef2f3, #d6e5f2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    grid-area: stream;
    overflow:hidden;
    white-space: nowrap;
    box-sizing: border-box;
    margin-left: 16px;
    border-radius:2px;
    border: 1px #d6e5f2 solid;
    box-shadow: 2px 10px 45px -4px rgba(0,0,0,0.75);
    align-self:center;
}
.marquee p {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 20s linear infinite;
    font-size: 3.2rem;
    font-weight: bolder;
    line-height:0;
}
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

.slider {
    display:flex;
    box-sizing:border-box;
    align-items: center;
    justify-items: center;
    position:absolute;
    bottom:100px;
    left:0;
    height:40px;
    width: 0;
    z-index:2;
    transition: width 1s ease-in-out;
    overflow:hidden;
    border-radius: 2px;
    margin-left: 16px;
    background-color: #333333;
    box-shadow: 2px 10px 45px -4px rgba(0,0,0,0.75);
    color: #d6e5f2;
    font-weight: bold;
    font-size:1.1rem;
}

#handle{
    text-align: center;
    min-width: 300px;
    color: white;
}

.slider-open {
    width: 300px;
}

.blue_pattern_background {
    background-image: radial-gradient(midnightblue 6px, transparent 10px),
    repeating-radial-gradient(midnightblue 0, midnightblue 17px, transparent 5px, transparent 20px, midnightblue 14px, midnightblue 25px, transparent -2px, transparent var(--bg1_radius));
    background-size: 30px 30px, 90px 90px;
}

.red_pattern_background1 {
    background: linear-gradient(-45deg, #ff5c50 20px, transparent 1%), #ff1837;
    background-size: 50px 50px;

}

.red_pattern_background2 {
    background: linear-gradient(-45deg, #ff5c50 50px, transparent 1%), #ff1837;
    background-size: 50px 50px;
    animation: background-movement 10s linear infinite alternate;
}

.bg {
    position:absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

@keyframes background-movement {
    from {opacity: 1;}
    to {opacity: 0;}
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 9.7px 0;
    background-color: transparent;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4.6px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px blue;
    background: rgba(0, 0, 0, 0.67);
    border-radius: 0px;
    border: none;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px blue;
    border: 0px solid rgba(0, 0, 0, 0);
    height: 24px;
    width: 7px;
    border-radius: 0px;
    background: blue;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -9.7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgba(13, 13, 13, 0.67);
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 4.6px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px blue;
    background: rgba(0, 0, 0, 0.67);
    border-radius: 0px;
    border: 0px solid rgba(0, 0, 0, 0);
}
input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px blue;
    border: 0px solid rgba(0, 0, 0, 0);
    height: 24px;
    width: 7px;
    border-radius: 0px;
    background: blue;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 4.6px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: rgba(0, 0, 0, 0.67);
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 0px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px blue;
}
input[type=range]::-ms-fill-upper {
    background: rgba(0, 0, 0, 0.67);
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 0px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px blue;
}
input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px blue;
    border: 0px solid rgba(0, 0, 0, 0);
    height: 24px;
    width: 7px;
    border-radius: 0px;
    background: blue;
    cursor: pointer;
    height: 4.6px;
}
input[type=range]:focus::-ms-fill-lower {
    background: rgba(0, 0, 0, 0.67);
}
input[type=range]:focus::-ms-fill-upper {
    background: rgba(13, 13, 13, 0.67);
}
